.kont{
    display: flex;
    border:  1px solid black;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 200px;
}

.inputform{
    display: flex;
    border:  1px solid black;
    flex-direction: column;
    width: 10%;
    flex-basis: 200px;
}

.showform{
    display: flex;
    border:  1px solid black;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    flex-wrap: wrap;
    flex-basis: 200px;
}

.shareform{
    display: flex;
    border:  1px solid black;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    flex-basis: 200px;
}